
/*  */
.nav-link{
    color: white !important;
    text-transform: uppercase;
    font-size: 15px;
}
.navbar {
    background-color: #CC4646;
    position: fixed;
    width: 100%;
    z-index: 10;
    border-radius: 0;
    top: 0px;
}
.navbar .navbar-toggler-icon span{
    color: white;
}
#navbar-container{padding: 0px;}
.navbar .container-fluid img{
    width: 150px;
} 

/*  */
#carouselExampleControls{
    padding: 0px;
}
#introText {
    padding:50px 0;
    background:#fff;
    }
/* aboutUs */
#aboutUs{
    padding: 60px 0;
    background-color: #f0f0f0;
}
#content #heading{
    text-align: center;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
.heading1{
    margin: 20px 10px 0 0;
}
.heading2{
    font-size: 1.2rem;
    color: #858585;
    line-height: 22px;
}
.card{
    text-align: center;
}
.intro-img{
    justify-content: center;
}

.card-text{
    background-color: #f0f0f0;
    font-size: 15px;
    color: #777777;
    padding: 20px;
    margin: 0px;
}
.item1{
    
    background-color: #ffffff;
    background:#fff;
    padding:20px 10px;
}
.item1 h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}
.card-body{
    padding: 0;
}

#icon1{
    height: 58px;
    font-size: 58px;
    line-height: 58px;
    padding-top: 25px;
    color: #5e5e5e;
}
#icon2{
    height: 58px;
    font-size: 58px;
    line-height: 58px;
    padding-top: 25px;
    color: #5e5e5e;
}
#icon3{
    height: 58px;
    font-size: 58px;
    line-height: 58px;
    padding-top: 25px;
    color: #5e5e5e;
}
/* maxim */
.ag-parlex {
    padding-top: 0px;
    background-image: url('../imgs/banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.37);
    color: #FDFDFD !important;
}
/* skill */
.myskill{
    padding: 60px 0;
}
.skilllevel {
    text-align: right;
    font-weight: 600;
    padding-right: 0px;
}
.progress {
    border-radius: 0px;
    height: 15px;
    margin-top: 5px;
    background-color: #D6D6D6;
    margin-top: 5px;
    margin-bottom: 20px;
}
.progress .progress-bar {
    background-color: #CC4646;}
.skillp{
    color: #858585;
}
#cot1{
    padding-left:15px ;
}
.col-sm-6 .row .col-md-8 {
    padding: 0 15px 0 15px;
}
/* contactUs */


#contactUs{
    padding: 60px 0;
    background-color:#f0f0f0 ;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-group{
    padding-bottom: 15px;
}
/* footer */
footer{
    padding: 45px 0;
}
.social a:hover {
    color: #c0392b;
}
.social a {
    padding: 0 10px;
    font-size: 32px;
    color: #c7c7c7;
}


